//
// Custom overrides from a user.
//

.side-bar {
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f6fa; }
  @media (min-width: 50rem) {
    .side-bar {
      flex-wrap: nowrap;
      position: absolute;
      width: 248px;
      height: 100%;
      flex-direction: column;
      border-right: 1px solid #eeebee;
      align-items: flex-end; } }
  @media (min-width: 66.5rem) {
    .side-bar {
      width: calc((100% - 1600px) / 2 + 264px);
      min-width: 264px; } }

@media (min-width: 50rem) {
  .main-content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll; } }

@media (min-width: 50rem) {
  .main-content {
    position: relative;
    max-width: 1200px;
    margin-left: 248px; } }
@media (min-width: 66.5rem) {
  .main-content {
    margin-left: calc((100% - 1600px) / 2 + 264px); } }
